body {
  background-color: #121212;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

#header-title {
  color: #fff;
}

img {
  width: 250px;
  border-radius: 20px;
}

#lessons-learned {
  color: rgb(255 255 255 / 70%);
}

#ol-title {
  color: #fff;
}

#lessons-to-learn {
  color: rgb(255 255 255 / 70%);
}

#ul-title {
  color: #fff;
}

#dinos-article {
  color: rgb(255 255 255 / 70%);
  width: 50%;
}

#about-me-aside {
  color: rgb(255 255 255 / 70%);
  width: 50%;
}

#footer {
  background-color: rgb(255 255 255 / 12%);
  display: flex;
  text-align: center;
  margin-bottom: 0;
  height: 20px;
}

#linkedin-link {
  color: rgb(0 119 181);
  width: 50%;
  margin: 0;
}

#footer-text {
  color: rgb(255 255 255 / 50%);
  text-align: right;
  width: 50%;
  margin: 0;
}
