body {
  background-color: #121212;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

#header-title {
  color: #fff;
}

img {
  width: 250px;
  border-radius: 20px;
}

#lessons-learned {
  color: rgb(255 255 255 / 70%);
}

#ol-title {
  color: #fff;
}
